@media (max-width:480px){
    body {
    font-size: 20px;
    font-weight: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: rgb(114, 87, 145);

}
}

@media (min-width:481px) and (max-width: 768px) {
    body {
     font-size: 20px;
     font-weight: 100px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     background-color: rgb(78, 66, 66);

 }
}


@media (min-width: 769px) and (max-width:1024px) {

    body {
        font-size: 20px;
        font-weight: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        background-color: rgb(94, 121, 71);
    }
}
@media (min-width:1025){
    body {
        font-size: 20px;
        font-weight: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        background-color: rgb(251, 255, 248);
    }
}

